.AdvertisementFour__main {
    height: 380px;
    width: 335px;
    background: #f5f6f7;
    margin: 10px;
}
.AdvertisementFour__header {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding:15px
}
.AdvertisementFour__body {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.ad_fourImage {
    width: 140px;
    height: 130px;
    margin: 5px;
}
.AdvertisementFour__footer {
    padding: 15px;
}